
  .loader {
    width: 200px;
    height: 200px;
    position: absolute;
    border-top: 20px solid;
    border-radius: 50%;
  }
  
  main {
    position: relative;
    left: calc(50% - 125px);
    top: calc(50vh - 75px);
  }
  
  .first {
    transform: skew(-10deg) translateX(50px) rotate(45deg);
    animation: rot1 2s ease infinite;
    border-color: white;
  }
  
  .second {
    transform: skew(-10deg) rotate(165deg);
    animation: rot2 2s ease infinite;
    border-color: #66C4A8;
  }
  
  .third {
    transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(285deg);
    animation: rot3 2s ease infinite;
    border-color: white;
  }
  
  @keyframes rot1 {
    100% {
      transform: skew(-10deg) translateX(50px) rotate(405deg);
    }
  }
  @keyframes rot2 {
    100% {
      transform: skew(-10deg) rotate(525deg);
    }
  }
  @keyframes rot3 {
    100% {
      transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
    }
  }
  @keyframes color {
    33%{
      background: #E7CBF3;
    }
    66% {
      background: #C9F3E6;
    }
    0%,100% {
      background: #FFEDD3;
    }
  }